<!DOCTYPE html>
<html>
<head>
  <title>Wish.ly</title>
  <link href='http://fonts.googleapis.com/css?family=Lato:300|Norican' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= yield %>
  <%= javascript_include_tag 'application' %>
</body>
</html>
